.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-carousel {
  list-style: none;
  display: flex;
  padding: 0 0 1rem 0;
  overflow-x: auto;
}

.custom-carousel::-webkit-scrollbar {
  width: 7px;
}

.custom-carousel::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 10px;
}

.custom-carousel::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.custom-carousel-item:not(:last-child) {
  margin-right: 1rem;
}

.custom-carousel-item {
  border-radius: 5px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, .2);
}