.login {
  background: linear-gradient(130deg, #ad90c1 0%, rgb(3, 0, 84) 100%), linear-gradient(130deg, #09007b 0%, rgba(15, 0, 66, 0) 30%), linear-gradient(129.96deg, rgb(255, 47, 47) 10.43%, rgb(0, 4, 96) 92.78%), radial-gradient(100% 246.94% at 100% 0%, rgb(255, 255, 255) 0%, rgba(37, 0, 66, 0.8) 100%), linear-gradient(121.18deg, rgb(20, 0, 255) 0.45%, rgb(27, 0, 62) 100%), linear-gradient(154.03deg, rgb(206, 0, 0) 0%, rgb(255, 0, 61) 74.04%), linear-gradient(341.1deg, rgb(178, 91, 186) 7.52%, rgb(16, 0, 119) 77.98%), linear-gradient(222.34deg, rgb(169, 0, 0) 12.99%, rgb(0, 255, 224) 87.21%), linear-gradient(150.76deg, rgb(183, 213, 0) 15.35%, rgb(34, 0, 170) 89.57%);
  background-blend-mode: overlay, normal, overlay, color-burn, screen, overlay, difference, difference, normal;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #fafafa;
  padding: 2rem;
  width: 40%;
}

@media screen and (max-width: 992px) {
  .login-form {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  .login-form {
    width: 75%;
  }
}

@media screen and (max-width: 576px) {
  .login-form {
    width: 90%;
  }
}

.altSignIn {
  cursor: pointer;
  margin: 1rem 0;
  padding: 1rem;
  text-align: center;
  color: white;
  background-color: rgb(24, 144, 255);
}

.altSignIn:hover {
  background-color: rgb(14, 124, 215);
}