.main-layout {
  height: 100vh;
  background: radial-gradient(circle, rgba(0, 0, 0, .25), rgba(0, 0, 0, .5)), url(../assets/Images/bg-landing.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.particles {
  height: 100vh;
  width: 100%;
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  animation: fadeIn .8s ease-in;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.navigation {
  z-index: 100;
  height: 8vh;
  padding: 0 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background: transparent;
}

.dashboard-sider {
  z-index: 100;
  height: 92vh;
  padding: 2rem 0;
  background: transparent;
}

.dashboard-sider-menu {
  background: transparent;
}

.appdrawer-icon {
  display: none;
  color: #fff;
  font-size: 1.75rem;
}

.nav-brand {
  font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
  .dashboard-sider {
    display: none;
  }

  .appdrawer-icon {
    display: inline-block;
  }

  .nav-brand {
    display: none;
  }
}
