.navigation {
  padding: 0 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background: #000046;
  background: -webkit-linear-gradient(to left, rgb(28, 151, 184) 10%, #000046 90%);
  background: linear-gradient(to left, rgb(28, 151, 184) 10%, #000046 90%);
}

.dashboard-sider {
  height: 92vh;
  padding: 2rem 0;
  background: #000046;
  background: -webkit-linear-gradient(to top, rgb(28, 151, 184), #000046);
  background: linear-gradient(to top, rgb(28, 151, 184), #000046);
}

.dashboard-sider-menu {
  background: transparent;
}

.appdrawer-icon {
  display: none;
  color: #fff;
  font-size: 1.75rem;
}

.nav-brand {
  font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
  .dashboard-sider {
    display: none;
  }

  .appdrawer-icon {
    display: inline-block;
  }

  .nav-brand {
    display: none;
  }
}
